!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EverlywellBackendChallenge
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %main.container
      %nav
        %ul
          %li
            %strong Everly Friends
        %ul
          %li
            = link_to 'All Members', members_path
          - if member_signed_in?
            %li
              = link_to 'My profile', member_path(id: current_member)
      - flash.each do |type, msg|
        %div{class: "alert #{type}"}
          = msg
      = yield
