<h1><%= @member.name %></h1>
<p><%= link_to 'URL', @member.url %></p>

<div data-controller="url-data" data-url-data-state-value="<%= @member.state %>" data-url-data-url-value="<%= member_url_data_path(@member) %>">
  <%= render partial: 'url_processing', locals: { member: @member } %>
</div>

<div data-controller="friendships">
  <%= render partial: 'friendships/friendships', locals: { member: @member, can_follow: @can_follow } %>
</div>
<div data-controller="search" data-search-search-url-value="<%= member_searches_path(@member) %>">
  <form>
    <input name="topic" placeholder="Search topic" data-search-target="topic"/>
    <input type="submit" value="Search" data-action="search#search" />
  </form>
  <div data-search-target="results">
  </div>
</div>
<%= link_to 'Go to directory', members_path %>
