<h1><%= @member.name %></h1>
<p><%= link_to 'URL', @member.url %></p>
<% if @member.state == 'processing_url' %>
  <p>Processing member URL</p>
<% elsif @member.state == 'success' %>
  <p><%= link_to 'Shortened URL', @member.shortened_url %></p>
  <p>Page headings:</p>
  <ul>
    <% @member.headings.each do |heading| %>
      <li><%= heading.text.html_safe %></li>
    <% end %>
  </ul>
<% elsif @member.state == 'error_processing_url' %>
  <p>Could not process the member URL</p>
<% end %>
<p>Following: <%= "#{@member.friend_count} friends" %> <p>
<ul>
  <% @member.friendships.each do |friendship| %>
    <li>
      <%= link_to friendship.friend.name, member_path(friendship.friend) %>
      <%= form_with url: friendship_path(friendship), method: :delete do |form| %>
        <%= form.submit "Unfollow" %>
      <% end %>
    </li>
  <% end %>
</ul>
<p>You can follow:</p>
<ul>
  <% @can_follow.each do |candidate| %>
    <li>
      <%= link_to candidate.name, member_path(candidate) %>
      <%= form_with model: Friendship.new, url: friendships_path do |form| %>
        <%= form.hidden_field :member_id, value: @member.id %>
        <%= form.hidden_field :friend_id, value: candidate.id %>
        <%= form.submit "Follow" %>
      <% end %>
      </li>
  <% end %>
</ul>
<div data-controller="search" data-search-search-url-value="<%= member_searches_path(@member) %>">
  <form>
    <input name="topic" placeholder="Search topic" data-search-target="topic"/>
    <input type="submit" value="Search" data-action="search#search" />
  </form>
  <div data-search-target="results">
  </div>
</div>
<%= link_to 'Member List', members_path %>
